*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
	background: #504ab5 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
	}

.box {
	position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    height: 650px;
    width: 414px;
    border-radius:10px ;
    }
    
    .head {
        height: 13%;
        width: 50%;
        display: inline-block;
        border-bottom: 5px solid red ;
        margin-bottom: 86px;
        padding : 35px 0;
    }
    
    .imp {
    width: 83%;
    margin: 30px 0px ;   
    }

    button {
        cursor: pointer;
        margin: 12px 0px ;
        background: #504ab5;
        padding: 6px 116px;
        border-radius: 5px;
    }
    button:hover {
        background:aquamarine ;
    }
